
<div class="container">
    <div class="row">
        <div class="col text-center">
            <!--<img src="img/download.jpeg" alt="cat" class="'img-thumbnail rounded circle" width="200px">-->
            <h1 class="display-4">-</h1>
            <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit, odio praesentium eaque tempora ullam blanditiis neque quisquam corrupti. Sed aspernatur ipsam, ex nostrum consectetur cumque dicta. Nemo corporis earum quod.</p>
        </div>
    </div>
</div>