
<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/download.jpeg" alt="cat" class="'img-thumbnail rounded circle" width="200px">
            <h1 class="display-4">Irgi Adit</h1>
            <p class="lead">Founder CodeGi</p>
        </div>
    </div>
</div>