<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h3>Links</h3>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
    <h2>Learning project EJS  @<%= nama %></h2>

    <h4>Contact list </h4>
    <% if (mahasiswa.length < 1) { %>
     <p>No contact data available. Please add one first!. </p>
    <% } else { %>
    <% mahasiswa.forEach(mhs => { %>
        <ul>
            <li>nama : <%= mhs.nama  %></li>
            <li>email : <%= mhs.email  %></li>
        </ul>
    <% }) %>
    <% } %>
</body>
</html>